[2019-11-01 15:00] taoliu opened #1 "Bug: Hardcoded separator "_" doesn't work for 10X H5 format, in scATAC_genescore.py"
The following line for calculating RP scores assumes that peaks are named as "chr_start_end" in peak matrix.

https://github.com/liulab-dfci/MAESTRO/blob/ffdfffe0a28bf8e42cf86a63697d0ab40b78ade7/MAESTRO/scATAC_genescore.py#L97

However, the standard output "filtered_peak_bc_matrix.h5" from 10X cellranger-atac may use chr:start-end", according to

https://support.10xgenomics.com/single-cell-atac/so

[2019-11-03 17:16] taoliu opened #2 "Bug: bdg to bw in Snakemake"
The current implementation has a potential problem. The `bedtools intersect` with `-f 1.00` will get rid of the region that is not ENTIRELY included in the `chr_limit` file. It would be more reasonable to **clip** instead of **discarding** the whole region.

https://github.com/liulab-dfci/MAESTRO/blob/ffdfffe0a28bf8e42cf86a63697d0ab40b78ade7/MAESTRO/Snakemake/scATAC/Snakefile#L637-L651

Check my g

[2019-11-03 17:23] taoliu opened #3 "Bug: incorrect use of MACS2 -n option"
As shown in the current code to invoke macs2:

https://github.com/liulab-dfci/MAESTRO/blob/ffdfffe0a28bf8e42cf86a63697d0ab40b78ade7/MAESTRO/Snakemake/scATAC/Snakefile#L138-L152

The option '-n' contains a folder structure. This is not a recommended way to specify an output directory of macs2. Please use '--outdir' instead and keep the '-n'  simple such as:

`name = config["outprefix"] + "_all"`

a

[2019-11-06 02:23] chenfeiwang commented on #2
Thank you Tao! In the latest version of MAESTRO, we have removed the function of CEAS, and the bdg to bw is removed from the workflow.

We will use the clipping instead of removing the whole region if future implementation needs this function.

[2019-11-06 21:48] chenfeiwang commented on #3
Thanks for this suggestion, the snakemake workflow has been updated.

[2019-11-06 21:52] chenfeiwang commented on #1
Hi Tao, the peaks generated by MAESTRO will be separated using "_" and can run smoothly with the scATAC_genescore code.

In the latest version of MAESTRO, we implemented the gene score function in R, and replace the separator of all the input peaks to standard "_", which will be consistent with the python code thus solve the problem. Thanks for reporting this bug!

Let me know if you still facing

[2019-11-20 15:02] mjsteinbaugh opened #4 "Feature request: Add recipe on bioconda"
Hi @liulab-dfci, I'm interested in trying out MAESTRO, and the Dockerfile recipe works great. One thing I noticed is that the conda recipe is currently managed under a custom channel (see https://anaconda.org/liulab-dfci/maestro). I was wondering if it would be possible to submit the recipe to [bioconda](https://bioconda.github.io/), which makes developing other recipes that depend on MAESTRO easi

[2019-11-20 15:05] mjsteinbaugh opened #5 "Dockerfile recipe error"
I'm currently hitting this error on the last step of the `Dockerfile` recipe:

[code]

[2019-11-20 16:42] DongqingSun96 commented on #5
Hi. Seems like you're building the docker image from scratch. You can pull the image using `docker pull winterdongqing/maestro:1.0.1` directly. If you want to build the image by yourself, you can download the [Rabit index](http://cistrome.org/~chenfei/MAESTRO/rabit.tar.gz) and [giggle index](http://cistrome.org/~chenfei/MAESTRO/giggle.tar.gz) from Cistrome website to the folder which stores the `D

[2019-11-20 16:51] DongqingSun96 commented on #4
Hi @mjsteinbaugh, thanks for your suggestion. We're planning to submit MAESTRO to bioconda in the next few months. Please continue to follow up our update. Thanks!

[2019-11-20 17:17] mjsteinbaugh commented on #4
Awesome thanks @DongqingSun96 !

[2019-11-20 17:17] #4 closed

[2019-11-20 17:18] #5 closed

[2019-12-09 20:15] yfu opened #6 "FileNotFoundError: [Errno 2] No such file or directory: 'Result/Analysis/M1R1_MAESTRO.PredictedTFTop10.txt'"
Hi Chenfei,

Thank you for making MAESTRO available! I encountered an error while processing some 10x scRNA-seq data from mice.

It seems that MAESTRO couldn't find `PredictedTFTop10.txt`. I have RABIT installed and specified the RABIT index in the yaml file.

[code]

This appears to the last missing step in MAESTRO as rerunning the pipeline gave me:

[code]

[2019-12-10 02:50] DongqingSun96 commented on #6
Hi @yfu,
Thanks for your report! It seems that some errors happened in the previous rule of `scrna_analysis`. I would appreciate it if you could provide more log information about this rule. Thank you very much!

[2019-12-10 14:16] yfu commented on #6
Hi @DongqingSun96,

This is what I find in `.snakemake/log`:

[code]

Let me know if there are other log files I should provide.

Thanks!
Yu

[2019-12-10 14:27] DongqingSun96 commented on #6
Hi @yfu,
If you don't mind, you could send me the file `Result/QC/M1R1_MAESTRO_filtered_gene_count_matrix.h5` so that I can take a look at it.

[2019-12-10 22:30] yfu commented on #6
Hi @DongqingSun96,

Do you have an email address that I can send the files to?

Thanks!
Yu

[2019-12-11 03:47] DongqingSun96 commented on #6
Hi @yfu,
You can send the files to dongqingsun96@gmail.com. Thanks!

[2019-12-11 15:16] yfu commented on #6
I have sent you the h5 file. Let me know if additional info is needed. Thanks!

[2019-12-11 22:14] basilkhuder opened #7 "Multiple Samples"
How would one go about using MAESTRO (starting at Step 4 of the pipeline) with multiple sc-RNA-Seq samples?

[2019-12-13 22:11] chenfeiwang commented on #7
Hi,

Currently, you can combine the sample using R and then run the merged sample using MAESTRO.

Enclosed is an example of multiple 10X datasets.

[code]
All the flowlling analysis can be done similarly using the merged datasets. We will update MAESTRO and support multiple run in the future.

Thanks!
Chenfei

[2019-12-16 04:11] yfu commented on #6
Any updates? @DongqingSun96 Thanks!

[2019-12-16 04:47] DongqingSun96 commented on #6
Hi @yfu,

I looked into the h5 file. It seems that there're some bugs in the `RNAAnnotateTranscriptionFactor` function. We have fixed these bugs in the R package. Please update the R package in the `conda` environment, remove the `Result/Analysis` directory, and then re-run the last two steps using the command `nohup snakemake --cores 8 > nohup.out &`.
Please let me know if there's any problem.

T

[2019-12-16 20:32] yfu commented on #6
Hi @DongqingSun96,

Thanks for the commit! With the updated `RNAAnnotateTranscriptionFactor`, I was able to finish the pipeline without errors.

Thanks!
Yu

[2019-12-16 20:32] #6 closed

[2019-12-16 21:12] basilkhuder commented on #7
Great, thanks!

[2019-12-16 21:12] #7 closed

[2019-12-17 20:05] taoliu commented on #3
Fixed in 92b1d3f

[2019-12-17 20:05] #3 closed

[2019-12-17 20:05] #2 closed

[2019-12-17 20:05] #1 closed

[2020-01-22 20:15] taoliu opened #8 "Bug: Missing default value or required status for `MAESTRO init` command"
The main executable script [MAESTRO](https://github.com/liulab-dfci/MAESTRO/blob/master/MAESTRO/MAESTRO) will throw exceptions when no argument is set for `init` command:

[code]

The solution is either to add `required=True` for `"-m"` and `"-d"`, or to set `default=` for these options.

https://github.com/liulab-dfci/MAESTRO/blob/1eba0a239fc38bf0687f4b66c9f5c5af07d89e74/MAESTRO/MAESTRO#L61-L62

[2020-01-22 20:16] taoliu opened #9 "Bug: Version number has to be corrected"
The version should be set as `1.0.2`.

https://github.com/liulab-dfci/MAESTRO/blob/1eba0a239fc38bf0687f4b66c9f5c5af07d89e74/setup.py#L50

[2020-01-23 19:18] chenfeiwang commented on #9
Thank you Tao, we have corrected the version number.

[2020-01-23 19:18] chenfeiwang commented on #8
Those bugs are corrected.

[2020-01-23 20:34] #8 closed

[2020-01-23 20:35] #9 closed

[2020-02-05 20:35] taoliu opened #10 "Enhancement: Description in the HTML report"
The current (v1.0.2) HTML report only includes figures and tables without explanations. Please add more texts explaining how to interpret the results in the report.

https://github.com/liulab-dfci/MAESTRO/tree/master/MAESTRO/html

[2020-02-05 21:00] taoliu opened #11 "Enhancement: Provide options to set customized cell signatures in Snakemake configuration file"
In the current version 1.0.2, if users use the snakemake pipeline, there is no way to set their customized cell signatures, and they are forced to use CIBERSORT immune cell signatures. The pipeline would be more useful if the cell annotation results from snakemake pipeline can make more sense.

https://github.com/liulab-dfci/MAESTRO/tree/master/MAESTRO/Snakemake

[2020-02-06 21:31] taoliu opened #12 "Bug: Let reticulate find the current Python"
If users use MAESTRO for the first time or more accurately use "reticulate" package through ATACCalculateGenescore script for the first time, they will be prompted to decide whether "reticulate" should install an independent miniconda environment by itself.
[code]

Assuming users are utilizing conda/miniconda version of MAESTRO for their analysis, they should stick to the python in that environmen

[2020-02-11 19:00] taoliu opened #13 "Enhancement: Documentation of APIs"
We need documentation of APIs. Since users need to know the options of each function, the data structures, in order to fine-tune their pipeline or skip certain steps. Currently, the only available documentation is the tutorial, which is not enough.

[2020-02-12 05:23] taoliu opened #14 "Bug: scATAC_genescore.py and ATACCalculateGenescore.R can't handle peaks from unusual chromosomes"
When peaks are from unusual chromosomes such as "chr11_KI270721v1_random", scATAC_genescore.py and ATACCalculateGenescore.R can't correctly split the peak name such as "chr11_KI270721v1_random_12345_67890" to find the chromosome name, start and end positions since it will use "_" as the separator:

https://github.com/liulab-dfci/MAESTRO/blob/4af5c118f791a8ffe0f242f0ebea7fee014ffb53/MAESTRO/scATAC_

[2020-02-12 07:45] taoliu opened #15 "Question: Can we do TF annotation without doing cell annotation?"
In some cases, we do not know the actual cell types, or we do not know the signature genes of possible cell types, so we'd like to skip cell-type annotation step, and plan to identify the driver TFs for each cluster. Can we do that? I am asking this since according to the tutorial, the regulation potentials (RP, or gene scores) are only to be included in the 'cell type annotation' step, but RPs ar

[2020-02-12 15:50] DongqingSun96 commented on #10
Hi Tao,

Thanks for this suggestion. In the latest  HTML report, we have added some brief texts, something like figure legends, to explain the figures and tables. If there's any improvement we can make, please let me know.

Thanks!
Dongqing

[2020-02-12 16:15] DongqingSun96 commented on #11
Hi Tao,

Thanks for this suggestion. In the latest version of MAESTRO, we provide the option to set the  custom cell signature through the two arguments both in scRNA and scATAC. https://github.com/liulab-dfci/MAESTRO/blob/1fd24fba59ad5074d37ac30e5b81c24a8bbf0d7c/MAESTRO/Snakemake/scRNA/config.yaml#L16-L20

Thanks!
Dongqing

[2020-02-12 16:40] DongqingSun96 commented on #12
Hi Tao,

Thanks for reporting the bug. We have add some notes in the [tutorial](https://github.com/liulab-dfci/MAESTRO/blob/master/example/ATAC_infrastructure_10x/ATAC_infrastructure_10x.md) in case users may have some trouble when they use `ATACCalculateGenescore` function.

If there's any other problem, please let me know.

Thanks!
Dongqing

[2020-02-12 17:23] taoliu commented on #12
Should we suggest users use `use_condaenv` instead of `use_python`?

https://cran.r-project.org/web/packages/reticulate/vignettes/versions.html

[2020-02-12 17:24] taoliu commented on #11
Thanks! I will give it a try!

[2020-02-18 21:45] taoliu opened #17 "Enhancement: Optimize the memory usage for calculating gene score (RP) for scATAC-seq with a large number of cells"
I have to process a scATAC-seq dataset with over 48,000 cells after merging three conditions and 2 replicates each condition. I kept 200,000 top peaks. The scATAC_cellranger_count.py can finish successfully, however,  even our high memory node (260G mem) of our HPC keeps killing scATAC_genescore.py. We need to optimize the memory usage of this script. This issue ticket will track the progress of t

[2020-02-20 13:44] ctokheim opened #18 "Python scripts should use argparse"
Scripts like scRNA_qc.py use many positional arguments, which is not particularly user friendly if the user needs to run the script outside of the snakemake pipeline. It would be easier for the user if argparse was used so that they can specify command line flags and have a help doc for the script.

[2020-02-21 16:44] taoliu commented on #18
@ctokheim Thank you for the suggestion! We will definitely work on this!

[2020-02-21 16:49] taoliu opened #19 "Enhancement: Suggestions on MAESTRO/R/ATACRunSeurat.R"
If we look at MAESTRO/R/ATACRunSeurat.R script, it includes many of Seurat functions, such as RunLSI, FindCluster, and RunUMAP. However, the parameters for these functions are mainly fixed with only few tunable parameters for users. How can users tweak the parameter such as n.neighbors or min.dist for UMAP with this script, or the maximum number of components from LSI (n=50 is fixed)? My suggestio

[2020-02-21 19:00] #11 closed

[2020-02-26 15:31] taoliu opened #20 "Question: Any plan to upgrade R to 3.6?"
Currently, R 3.5 is specifically required. Any reason that we should keep using the old version? Or is there any plan to upgrade? The reason why I asked is that the latest Bioconductor (3.10) requires R 3.6.

https://github.com/liulab-dfci/MAESTRO/blob/da64dcb990521722bab08e4454d76ac6f027750e/conda/MAESTRO/meta.yaml#L32

[2020-04-08 13:32] taoliu opened #33 "Bug: Bugs of relative pathes in the MAESTRO scrna-/scatac-init scripts and Errors in Tutorial"
The version of MAESTRO: v1.1.0

Command line bugs:

1. If `--fastq-dir` ends with /, the `snakemake` cmd will give a ‘double /’ warning.
2. If `--fastq-dir` is a relative path, it won’t work since this relative path will be added to the config file in a new child directory; the same problem can be found for the option for whitelist file.

Tutorial errors:

1. The instruction, there is no  `--direc

[2020-04-08 14:06] taoliu commented on #33
Also, `pysam` has to be added to list of dependencies of MAESTRO conda package.

[2020-04-14 21:24] chenfeiwang commented on #18
Thank you Collin! In the latest version of MAESTRO, we have added detailed argparse for subfunctions of MAESTRO, please update and check the newest tutorials for this.

[2020-04-14 21:26] chenfeiwang commented on #13
We have added the documentation of APIs in both the main page and individual work through tutorials.  Thanks for the helpful suggestions.

[2020-04-14 21:26] chenfeiwang commented on #14
We have updated the bug in the latest version of MAESTRO.

[2020-04-14 21:31] chenfeiwang commented on #17
Thanks Tao! We have updated the code to improve the memory efficiency of MAESTRO, please update let us know if you still encountering the memory issues. Also, we are currently working on supporting multiple samples.  I will let you know once we finished.

[2020-04-14 21:34] chenfeiwang commented on #19
In the latest version of MAESTRO, we have support parsing all parameters of the above Seurat functions into ATACRunSeurat directly. Please check the updated descriptions of this function.

[2020-04-14 21:34] chenfeiwang commented on #20
The latest MAESTRO works for R 3.6.1.

[2020-04-15 02:21] chenfeiwang commented on #15
Thanks for the suggestion. In the latest version of MAESTRO, we have added a function named ATACAttachGenescore, which can attach the RP matrix into the object without doing cell-type annotation, then users can perform the downstream TF analysis. We have also updated the tutorials accordingly.

[2020-04-15 09:46] DongqingSun96 commented on #33
Thank you so much for reporting these bugs. We have updated MAESTRO and enable it to support relative path and to be compatible with directory path with or without '/'. Please install the latest version and let us know if there's any problem. The mentioned errors in the tutorial have also been corrected. As for `pysam`, it has been one of the dependencies of RSeQC, so we didn't add it to our depen

[2020-04-29 08:05] TheSallyGardens opened #39 "Multi-sample analysis!"
Hi!
A very good tool.
I now have five scATAC samples.How do I merge multiple samples?

[2020-04-29 09:30] TheSallyGardens commented on #39
Does the species support hg19?

[2020-04-29 21:03] taoliu commented on #18
@chenfeiwang Could you add 'required' arguments to each of the sub-command in MAESTRO?  Without 'required' arguments, users will get:

[code]
In the above case, I believe `--peak`,  `--fragment`, and `--barcode` are required. Please add `required=True` to the `add_argument` function.

[2020-06-17 20:18] taoliu opened #41 "Installation of MEATRO R codes is not tested."
Could you add it to travis.yml? Currently, only the `conda` installation part is tested.

[2020-07-08 14:38] #41 closed

[2020-07-08 14:39] #33 closed

[2020-07-08 14:39] #20 closed

[2020-07-08 14:40] #10 closed

[2020-07-21 17:34] crazyhottommy commented on #39
Hi @TheSallyGardens we are working on multiple-sample processing for scATACseq data. will update when we are ready for a release. Thanks for your patience.

[2020-08-11 14:33] #19 closed

[2020-08-20 06:51] Taozimk opened #52 "Why I can't open the HTML report"
Several sets of data were tested, and it was very convenient.
When I open HTML report, but I can't see any  contents of the  report only sample information.
Is there anything I haven't noticed?
![image](https://user-images.githubusercontent.com/26337757/90726581-8b964480-e2f4-11ea-8627-9feadb315d0e.png)

[2020-08-25 05:37] crazyhottommy commented on #52
which version of MAESTRO are you using? I have run with the most recent release v 1.2.1, and the HTML report functions properly.

[2020-08-26 12:38] ChangliangWang opened #53 "install_github("liulab-dfci/MAESTRO") error"
Dear Tao,

When I ran install_github("liulab-dfci/MAESTRO"), I encountered the below error. Have you ever encountered the same error?

Error: Failed to install 'unknown package' from GitHub:
Failed to connect to api.github.com port 443: Connection refused

Thanks very much for your help.

Best regards,
Leon.

[2020-08-26 23:53] ChangliangWang commented on #53
The unknown package might be the 'presto'. Is MAESTRO based on '**immunogenomics/presto**' (https://github.com/immunogenomics/presto).

Thanks very much for your help.

Best regards,
Leon.

[2020-08-27 01:35] ChangliangWang commented on #53
The error is due to internet problem. I have run the command several times. Sometimes, it worked as the figure shows.
![image](https://user-images.githubusercontent.com/25944188/91373293-9ac34800-e848-11ea-825c-9aa2a183fb71.png)

[2020-08-27 01:35] #53 closed

[2020-08-27 02:12] #52 closed

[2020-08-27 18:47] taoliu commented on #53
@ChangliangWang  I recommend you install MAESTRO through conda. The conda package includes MAESTRO R codes so there is no need to do devtools install again.

[2020-08-27 23:40] ChangliangWang commented on #53
Hi Tao,

Thanks very much for your suggestion. I have tried one day to install the package by devtools. Unfortunately, few minutes ago, I failed again. I will try to install it by conda. Big thanks.

Have a nice day.

Best wishes,
Changliang.

________________________________
发件人: Tao Liu (τν) <notifications@github.com>
发送时间: 2020年8月28日 2:47
收件人: liulab-dfci/MAESTRO <MAESTRO@noreply.github.com>
抄送

[2020-08-27 23:49] ChangliangWang commented on #53
Hi Tao,

I have encountered the below problem, which might be caused by my poor network again,(Do you think this problem is due to network):
    Traceback (most recent call last):
      File "/share/home/wangchangliang/miniconda3/lib/python3.8/site-packages/conda/exceptions.py", line 1079, in __call__
        return func(*args, **kwargs)
      File "/share/home/wangchangliang/miniconda3/lib/python

[2020-08-28 08:24] ChangliangWang commented on #53
Dear Tao,

Finally, I have installed the package using install.github, successfully. The package is really cool. Thanks very much for your efforts on the package.

BTW, I have encountered another problem. When I using conda search 'lisa' tool, there is no image for the tool. So, I wonder how you install the  tool successfully. Do you have any suggestion to install 'lisa'.

Thanks very much for you

[2020-09-01 21:21] yuewangpanda opened #54 "How to generate those QC metrics plots?"
Hi,

Thank you for this great work! I just have one question when I go through the Galleries & Tutorials. For the scRNA-seq example, after the RNARunSeurat() function, you use str() to check those features. How to plot those figures below the line of str(pbmc.RNA.res$RNA)?

Thanks,
Frank

[2020-09-02 11:30] DongqingSun96 commented on #54
Hi @yuewangpanda, after running `RNARunSeurat()` successfully, the three figures named as `*.spikein.png`, `*_PCElbowPlot.png`, `*_cluster.png` will be stored in your current working directory. You can check if they exist.

[2020-09-02 13:28] #12 closed

[2020-09-02 17:22] yuewangpanda commented on #54
Aha, fount them! Thanks!

[2020-09-03 02:05] yzz207 opened #56 "error at scatac_qcfilter step"
Hi,
I got the error below when running the pipeline starting from bam. Any suggestion what I should try to fix this? Also I wonder if the pipeline can be started at any point. In my case here, I would like to resume the pipeline from this scatac_qcfilter step once I figure out the problem, rather than starting over the whole pipeline again.

rule scatac_qcfilter:
    input: Result/Analysis/SI_2541

[2020-09-04 16:19] yzz207 commented on #56
Just to update. I set more stringent cutoffs for -count-cutoff and --frip-cutoff and it completed successfully.

[2020-09-04 17:16] crazyhottommy commented on #56
good to know!

[2020-09-04 17:16] #56 closed

[2020-09-04 17:17] #54 closed

[2020-09-17 15:12] yzz207 opened #58 "Where to find predicted regulatory transcription factors and corresponding targets in the output"
The file XXX.PredictedTFTop10.txt has list of transcription factors. The tutorial mentions target genes should be in XXX.GIGGLE folder, but I couldn't find it. Could you point out which file I should look for? Thanks!

Yuping

[2020-09-21 17:03] bicnasong opened #59 "Calculating gene variances: Error in simpleLoess(y, x, w, span, degree = degree, parametric = parametric, : invalid 'x'"
I ran MAESTRO workflow using fragment file as the input file and encountered the error.

<img width="1792" alt="Screen Shot 2020-09-21 at 12 57 09 PM" src="https://user-images.githubusercontent.com/62484339/93797641-7faae480-fc0a-11ea-9af4-fdc723b8f221.png">

Could you let me know why I have such an error? or how to solve it?

Thank you.

Bicna

[2020-09-22 02:08] crazyhottommy commented on #58
it should be in `Result/Analysis/atac_pbmc_500_v1.PredictedTFTop10.txt`

[2020-09-23 15:53] yupingz opened #61 "Problem with ATACCalculateGenescore when choosing "GRCm38""
genes = ATACCalculateGenescore(peaks, organism = "GRCm38")

this just give me a  zero matrix. And the column names are human gene names not mouse gene names.

[2020-09-25 02:32] bicnasong commented on #61
I have the same problem.

[2020-09-29 16:05] crazyhottommy commented on #61
@DongqingSun96 can you please double-check this? It could be a bug in the R version.
@yzz207 and @bicnasong thanks for reporting it, at the same time, can you try the python version as in here https://github.com/liulab-dfci/MAESTRO/blob/master/example/Gene_activity_modelling/Gene_activity_modelling.md

[2020-09-29 17:19] bicnasong commented on #61
Thank you for the reply.

I think I need to load the peak matrix processed by 10x Cell Ranger pipelines to generate the gene regulatory score matrix by the following command.

The dataset I have is generated by in-house pipeline so I only have the raw sequencing fastq files. I am wondering only processed dataset from Cell Ranger pipelines can be used as the input file.

Thank you.

[2020-09-29 20:05] bicnasong commented on #61
When I tried the python version as described in https://github.com/liulab-dfci/MAESTRO/blob/master/example/Gene_activity_modelling/Gene_activity_modelling.md, I got the following error message.

<img width="488" alt="Screen Shot 2020-09-29 at 4 04 07 PM" src="https://user-images.githubusercontent.com/62484339/94609939-83bfad80-026d-11eb-9973-af38209f1ed3.png">

[2020-09-30 01:40] crazyhottommy commented on #61
How about  using the python command line tool `MAESTRO scatac-genescore`

[2020-09-30 16:55] taoliu opened #62 "Suggestion to set default assay, fix hard coded lines and more in Incorporate.R"
To make this script more flexible for customized analysis, please add `DefaultAssay(ATAC) <- "ACTIVITY"` to the end of this code block.

https://github.com/liulab-dfci/MAESTRO/blob/d58fc186a4329febde3b0d5b213c2d0edf8de44c/R/Incorporate.R#L47-L64

Also, please fix the hard code at:

https://github.com/liulab-dfci/MAESTRO/blob/d58fc186a4329febde3b0d5b213c2d0edf8de44c/R/Incorporate.R#L56

https://git

[2020-10-07 02:43] crazyhottommy opened #63 "fix scATAC_HTMLReport.py for multisample"
Hi @DongqingSun96 ,
can you please fix this command for multisample scATACseq? https://github.com/liulab-dfci/MAESTRO/blob/feat/multisample/MAESTRO/Snakemake/multisample/scATAC/rules/sc_atac_report.smk#L27
currently, it assumes the files are in Result/Analysis/*, but for multisample, the files are in /Result/Analysis/{sample}/*

Thanks a lot!

[2020-10-07 02:44] crazyhottommy commented on #61
@DongqingSun96 it could be a bug in the R script for calculating gene activity scores.

[2020-10-07 02:45] #58 closed

[2020-10-07 02:49] crazyhottommy commented on #59
@DongqingSun96 @taoliu have you encountered this before? @bicnasong do you have other error messages?

[2020-10-07 02:49] #14 closed

[2020-10-07 02:50] #13 closed

[2020-10-07 02:50] #15 closed

[2020-10-07 02:51] crazyhottommy commented on #17
How is the memory usage for now? I have not tested it for such a big number of cells.

[2020-10-07 02:52] #18 closed

[2020-10-08 00:30] bicnasong commented on #59
I think this error is related to this issue: https://github.com/liulab-dfci/MAESTRO/issues/61

[2020-10-08 00:49] bicnasong commented on #61
When I used GRCh38, I was able to calculate gene activity scores without any problems. But if I use GRCm38, I keep getting error messages related to calculating gene activity scores (ATACCalculateGenescore and ATACAttachGeneScore).

By the way, we need a GIGGLE.table to visualize the driver TF for each cluster, but I couldn't find the file named project.name_giggle.txt. So, I just used the file na

[2020-10-08 13:25] booew commented on #61
It seems that the annotation file for mouse ($CONDA_ENV/MAESTRO/lib/python3.7/site-packages/MAESTRO/annotations/**GRCm38_refgenes.txt**) provided in the MAESTRO pipeline was for **human genes**. Replace the file with the mouse refGenes.txt file downloaded from UCSC genome would fix this problem(remove the 'chr' characters in the chromosome column to ensure it's compatible).

[2020-10-08 13:42] crazyhottommy commented on #61
Thanks @booew for reporting it! @DongqingSun96 can you please fix that? Thanks!

[2020-10-27 16:12] yjchen1201 opened #66 "--giggleannotation for other species"
Hi Chenfei,

Does MASTRO allow to process data of other species, like zebrafish? If so, how should I prepare the reference genome files, like giggle annotation files?

Thank you!
Yujie

[2020-10-29 17:46] taoliu opened #68 "Bug: a typo in the name of mouce.brain.ALLEN"

[2020-10-29 17:47] taoliu opened #69 "Bug: a typo in the name of "mouce.brain.ALLEN""
Please rename it as "mouse.brain.ALLEN"

[2020-10-30 16:18] crazyhottommy commented on #68
where is this file?

[2020-10-30 19:33] taoliu commented on #68
https://github.com/liulab-dfci/MAESTRO/blob/master/data/mouce.brain.ALLEN.RData

And anywhere that the "mouce" is mentioned.

[2020-10-30 19:33] taoliu commented on #69
duplicated #68

[2020-10-30 19:33] #69 closed

[2020-10-31 01:08] suny1994 commented on #61
Hi, have you resolved the problem that ModuleNotFoundError: No module named 'tables'?  I have the same problem.

[2020-11-02 14:45] taoliu commented on #68
Closed: #70

[2020-11-02 14:45] #68 closed

[2020-11-02 14:49] jgarthur opened #71 "Incompatibility with Seurat 4.0"
When installing MAESTRO (`774ce46`) on top of `satijalab/seurat/release/4.0.0`:
[code]

[2020-11-03 16:07] #66 closed

[2020-11-04 14:52] crazyhottommy opened #75 "add doublet removal step"
according to https://genomebiology.biomedcentral.com/articles/10.1186/s13059-020-02136-7
"scDblFinder achieved comparable or better accuracy than top alternatives while being the fastest method"

[2020-11-12 18:22] bc2zb commented on #61
Running into the same issue myself

[code]

[2020-11-12 20:51] bc2zb commented on #61
Just commenting again as I think I've got it working, though the R command is completely bypassed in the process. Essentially, you call the command line from within R, load in the data, and then add it to the seurat ATAC object as your activity matrix prior to performing `ATACAnnotateTranscriptionFactor()`. Though, unless I'm mistaken, `ATACCalculateGenescore()` doesn't updated the seurat object t

[2020-11-13 16:52] bc2zb opened #77 "Pass in existing Seurat/SingleCellExperiment Object"
Is it possible to pass in an existing Seurat object (or converted SingleCellExperiment object)? I have a pretty robust pipeline that does QC, clustering and such, would like to have some level of preservation of those clusters and such.

[2020-11-13 17:16] crazyhottommy commented on #77
Thanks, we should make the pipeline more flexible. Will put it on our todo list.

[2020-11-17 16:31] bc2zb opened #78 "Documentation clarification"
It would be appreciated if the documentation explicitly mentioned that `rownames` of the input matrixes need to be gene symbols and not other annotations. Took me a while to figure out that `LISA` requires symbols, and that the mismatch in `rownames` of my ATAC and RNA data kept causing `Incorporate()` to segfault. However, I also admit I am using a slightly processed counts matrix for my RNA inpu

[2020-11-17 16:34] crazyhottommy commented on #78
@baigal628 can you please fix this? Thanks!

[2020-11-23 03:41] ryao-mdanderson opened #80 "Install MAESTRO version 1.2.1.9999"
I followed the instruction  https://github.com/liulab-dfci/MAESTRO to install MAESTRO on HPC cluster for our institution research community.

My python version is 3.7.3-anaconda; conda version 4.9.2-py37h89c1867_0

I followed the instruction “ Installing the full solution of MAESTRO workflow through conda “,  here is my procedures
[code]

At this point, I check the environment directory   /risapps

[2020-11-23 15:02] taoliu commented on #80
After you created the environment by 'mamba create -n MAESTRO-1.2.1 -c liulab-dfci', you didn't install anything in that environment... You should either create the environment by:

`mamba create -n MAESTRO-1.2.1 maestro=1.2.1.9999 -c liulab-dfci`

or activate the environment then install:

`conda activate MAESTRO-1.2.1`
`mamba install maestro=1.2.1.9999`

Please note that 1.2.1.9999 is a beta ver

[2020-11-23 15:16] ryao-mdanderson commented on #80
Hello Tao,

Thanks for the tips.

If I do want to install version 1.2.1 (instead of test version 1.2.1.9999), should I use the command after 'mamba create -n MAESTRO-1.2.1 -c liulab-dfci' ?

mamba create -n MAESTRO-1.2.1 maestro=1.2.1 -c liulab-dfci
Thanks!
Rong

From: "Tao Liu (τν)" <notifications@github.com>
Reply-To: liulab-dfci/MAESTRO <reply@reply.github.com>
Date: Monday, November 23, 2020 a

[2020-11-23 17:00] taoliu commented on #80
If you have already created the environment, then do this:

[code]

[2020-11-23 18:28] ryao-mdanderson commented on #80
Hello Tao,

conda activate MAESTRO-1.2.1 requires to initialize shell environment first, e.g. conda init bash;

I use a service account ris_hpc_apps to do installation on HPC, I do not wish to do conda init bash for the service account.

Is there any other options? For earlier version, we can do:

“conda create -n MAESTRO maestro -c liulab-dfci”

I am not sure if “conda create -n MAESTRO-1.2.1 mae

[2020-11-23 19:24] crazyhottommy commented on #78
addressed by https://github.com/liulab-dfci/MAESTRO/pull/79

[2020-11-23 19:24] #78 closed

[2020-11-23 19:25] crazyhottommy commented on #71
you should install MAESTRO from conda and it will install Seurat4.0 by conda as well.

[2020-11-23 19:29] crazyhottommy commented on #61
This was fixed by https://github.com/liulab-dfci/MAESTRO/pull/65 We will release 1.2.2 this week. Can you please try it again then? Thanks for reporting.

[2020-11-23 19:29] crazyhottommy commented on #62
was fixed by https://github.com/liulab-dfci/MAESTRO/pull/65

[2020-11-23 19:29] #62 closed

[2020-11-23 19:31] crazyhottommy commented on #59
this is fixed by https://github.com/liulab-dfci/MAESTRO/pull/65 if it is related to #61

[2020-11-23 19:31] #59 closed

[2020-11-25 01:11] QiangTU opened #82 "A hardcoded path of LISA in the docker image"
Hello,

I am using MAESTRO docker image winterdongqing/maestro, 1.2.1, 57f41ffbe200. When I ran the scRNA-seq module, it reported errors like:

`unable to open file: name = '/project/dev/qqin/LISA/lisa_web/cistromedb_data/hg38/cluster_human/DNase_median_for_each_cluster.h5'`

This error should be caused by a hardcoded path of LISA. I changed to web LISA, then this module finished successfully.

[2020-11-25 01:31] crazyhottommy commented on #82
Thanks for reporting this! @DongqingSun can you please fix this?

[2020-11-28 02:03] QiangTU commented on #39
Is the multi-sample function supported now? Thanks!

[2020-11-28 13:40] crazyhottommy commented on #39
we will release a new version supporting multi-sampling scATACseq in 2 weeks. Thanks for your patience. I will post here and close this issue once we have it out.

[2020-12-01 00:29] QiangTU opened #83 "possible typo in the ATAC instruction page"
Hi,

I ran MAESTRO by the Docker image successfully, then I tried to explore the data using R following the [instruction](https://github.com/liulab-dfci/MAESTRO/blob/master/example/ATAC_infrastructure_10x/ATAC_infrastructure_10x.md). In the step 4, there is:

[code]

I think the GIGGLE.table should be '10X_PBMC_10k.PredictedTFScore.txt', because in the directory, there is no such file named '10X_P

[2020-12-02 01:47] crazyhottommy commented on #83
Thanks Qiang! `10X_PBMC_10k.PredictedTFScore.txt` should be the right name. @baigal628 can you please fix this documentation?

[2020-12-02 01:49] crazyhottommy commented on #77
@baigal628 I rethink about it. Let's create a tutorial using the MAESTRO R functions to process the Seurat object. Not necessary put this into snakemake workflow.

[2020-12-02 05:46] DongqingSun96 commented on #82
Hi @QiangTU,

The error was caused by the hardcoded path. Please download the pre-computed datasets from CistromeDB and update the configuration file following the instructions shown in [LISA README](https://github.com/qinqian/lisa).

If it doesn't work, please feel free to let us know. Thanks!

Dongqing Sun

[2020-12-03 05:44] strawberry789 opened #84 "cluster resolution other than 0.6 with error in coembedding"
Hello,

I tried to cluster my scRNA and scATAC datasets using a resolution other than 0.6 (this number was used in the MAESTRO vignettes), but I got an error saying that  "ATAC_snn_res.0.6" or "RNA_snn_res.0.6" cannot be found in the Seurat object when I used the "Incorporate" function to coembed the two datasets.  Do I need to use a default resolution of 0.6 before coembedding?  But can I change

[2020-12-09 04:52] crazyhottommy opened #85 "genedistance is not used in calculating RP"
the genedistance parameter https://github.com/liulab-dfci/MAESTRO/blob/master/MAESTRO/Snakemake/scATAC/Snakefile#L1166

is not used in the shell command https://github.com/liulab-dfci/MAESTRO/blob/master/MAESTRO/Snakemake/scATAC/Snakefile#L1174

Using default is 10,000 bp.

[2020-12-09 04:56] crazyhottommy commented on #82
@QiangTU we are releasing MAESTRO1.2.1 by the end of this week which includes LISA2. LISA2 is a re-write of the old LISA and is much faster https://github.com/liulab-dfci/lisa2

[2020-12-09 04:58] crazyhottommy commented on #84
which version are you using? In the most recent version, we should have fixed this problem.  Can you please try to install it again?

[2020-12-09 05:00] QiangTU commented on #82
Congratulations! But, you mean 1.3? v1.2.1 has been released in Aug. :-D

[2020-12-09 05:26] crazyhottommy commented on #82
sorry, I meant to say v1.2.2 :) and in one more week, we will release multi-sample scATAC v1.3.0

[2020-12-11 15:13] crazyhottommy commented on #61
Please check the new v1.2.2 release, this should be fixed now!  closing this issue now. If you still have problems feel free to reopen it. Thanks!

[2020-12-11 15:13] #61 closed

[2020-12-11 15:14] crazyhottommy commented on #80
Hi @ryao-mdanderson do you still have problems installing? I recommend trying the newest v1.2.2 version.

[2020-12-11 15:26] ryao-mdanderson commented on #80
Hello Ming,

Thank you! I will install the newest version 1.2.2.

Regards,
Rong

From: Ming Tang <notifications@github.com>
Reply-To: liulab-dfci/MAESTRO <reply@reply.github.com>
Date: Friday, December 11, 2020 at 9:15 AM
To: liulab-dfci/MAESTRO <MAESTRO@noreply.github.com>
Cc: "Yao,Rong" <RYao@mdanderson.org>, Mention <mention@noreply.github.com>
Subject: [EXT] Re: [liulab-dfci/MAESTRO] Install M

[2020-12-11 21:48] baigal628 commented on #83
Thanks, Qiang. The typo has been fixed in the new release. We can close this issue now.

[2020-12-11 22:31] crazyhottommy commented on #83
Thanks @baigal628 !

[2020-12-11 22:31] #83 closed

[2020-12-14 17:15] ryao-mdanderson commented on #80
I am able to install MAESTRO 1.2.2 with module load R/4.0.0, no errors.  Is R/4.0.0 sufficient? documentation requires R (>= 4.0.2).

[2020-12-14 17:24] crazyhottommy commented on #80
great! R is installed inside the MAESTRO conda env, so no need to do module load.

[2020-12-14 18:19] ryao-mdanderson commented on #80
Thank you! 💯

[2020-12-14 18:21] ryao-mdanderson commented on #80
You might close this ticket. Thanks for all your helps.

[2020-12-14 18:26] crazyhottommy commented on #80
No problem. feel free to open new issues if you have questions.

[2020-12-14 18:26] #80 closed

[2020-12-15 00:28] QiangTU opened #89 "lisa unpack error"
Hi, I am running MAESTRO 1.2.2 following the tutorial. The scRNA-seq module complained:

`lisa unpack: error: argument tarball: ERROR: /home/qtu/work/maestro/lisa/hg38_2.1.tar.gz is not a valid file.
`

Actually I could directly execute `lisa unpack hg38_2.1.tar.gz` successful, not sure what caused the error.

BTW, does the option `--lisadir lisa/hg38_2.1.tar.gz` mean the pipeline will unpack the

[2020-12-15 02:46] crazyhottommy commented on #89
Hi Qiang,
what's the output for
`ls /home/qtu/work/maestro/lisa/hg38_2.1.tar.gz`?

and yes, it will do unpack every time, and we are aware of this. It takes ~10mins. We can think of skip this step if it is already done.

[2020-12-15 06:24] QiangTU commented on #89
`
total 43G
-rw-r--r-- 1 qtu tulab 43G Feb 10  2020 lisa_v1.2_hg38.tar.gz
`

md5: `c3a78e555b032f459f2ab17d48d345d5`

[2020-12-15 14:26] crazyhottommy commented on #89
that's strange. The file is there.
and you can do `lisa unpack /home/qtu/work/maestro/lisa/hg38_2.1.tar.gz` interactively without problem?

[2020-12-15 15:05] QiangTU commented on #89
Sorry, it is my bad! In the command line, I used `hg38_2.1.tar.gz` following the new instruction, but in the folder, I actually put the old file `lisa_v1.2_hg38.tar.gz` there! What a silly mistake! :-P

BTW, `lisa_v1.2_hg38.tar.gz` is for LISA1  and `hg38_2.1.tar.gz` is for LISA2, right? The latter is much smaller, 20G only.

[2020-12-15 16:16] crazyhottommy commented on #89
NP! yes, use`hg38_2.1.tar.gz` for lisa2.

[2020-12-17 15:59] amathelier opened #91 "scrna-init creates a problematic snakefile for 10x-genomics"
I used the following command to create a Snakefile following the instructions at https://github.com/liulab-dfci/MAESTRO/blob/master/example/RNA_infrastructure_10x/RNA_infrastructure_10x.md.

Unfortunately, the Snakefile does not work since I get the following error:
[code]

The problem comes from the fact that the scrna-init command did not provide values for the `transcript`, `barcode`, and `deco

[2020-12-17 19:11] baigal628 commented on #91
Hi Anthony,

I haven't observed any error at this point based on your config and snakefile file. Could you please do $ ls /storage/mathelierarea/processed/anthoma/Projects/single_cell/data/10x/scRNA_pbmc8k to check if the fastq directory and prefix are correctly specified.

Also, I found that you are using the wrong barcode list which is for scATAC-seq data. Could you please use 737K-august-2016.t

[2020-12-18 04:18] #89 closed

[2020-12-18 13:49] amathelier commented on #91
[code]

The problem IMO is the fact that the `Snakefile` requests variables that are not set in the `config.yaml` file

[2020-12-18 15:40] baigal628 commented on #91
It shows that you only have an archived file in the current directory. However, Snakemake needs direct access to the fastqs. Could you use $ tar xvf pbmc8k_fastqs.tar to untar the files and point the --fastq-dir to the directory where the fastq (.fastq/ .fastq.gz) files locate?

Thanks.

[2020-12-19 06:22] amathelier commented on #91
That indeed fixes the issue. I am sorry for the oversight on my side!

[2020-12-19 06:22] #91 closed

[2020-12-21 04:55] QiangTU opened #92 "two data files not accessible"
Hello,

I found two data files were not accessible:

http://cistrome.org/~chenfei/MAESTRO/Refdata_scATAC_MAESTRO_GRCh38_1.1.0.tar.gz
http://cistrome.org/~chenfei/MAESTRO/giggle.all.tar.gz

The error is 403 Forbidden.

[2020-12-21 05:12] wxy-omg opened #93 "gene_peak matrix in RP_model"
The value range of gene_peak matrix in RP_model should between 0 and 1.  Why does "genes_peaks_score_csr"  in scATAC_Genescore.py have a value greater than 1, with a maximum of 1600+.

[2020-12-21 08:23] baigal628 commented on #92
Hi Qiang,

Sorry about that.
I have generated new links here:

http://cistrome.org/~galib/giggle.all.tar.gz
http://cistrome.org/~galib/Refdata_scATAC_MAESTRO_GRCh38_1.1.0.tar.gz
http://cistrome.org/~galib/Refdata_scATAC_MAESTRO_GRCm38_1.1.0.tar.gz

We'll update this in the next release.

[2020-12-23 03:30] crazyhottommy commented on #93
Hi, how did you get the gene activity score? Did you use the enhanced model or simple model?
If you get the activity score from running the MAESTRO snakemake pipeline, the count matrix is binarized. The gene activity score is calculated by summing up the peaks (within 120kb) nearby a gene using an exponential decay model.  details here https://github.com/liulab-dfci/MAESTRO/blob/master/example/Gen

[2020-12-29 08:11] strawberry789 opened #94 "Error in integrating Seurat scRNA and Signac scATAC objects"
First, I readRDS for my Seurat/harmony and Signac clustered scRNA and scATAC objects, respectively.

Then, I tried to run the Incorporate function:
coembed <- Incorporate(RNA = rna, ATAC = atac, project = "Maestro_integrated", method = "MAESTRO")

But I get the following error:
Error: Cannot find 'ACTIVITY' in this Seurat object

I also tried:
coembed <- Incorporate(RNA = rna$RNA, ATAC = atac$ATAC

[2020-12-30 01:45] strawberry789 opened #95 "giggle and lisa tables for drosophila"
Is it possible to generate the giggle and lisa tables for drosophila melanogaster?  I would like to use these to generate the driver TFs for both scRNA and scATAC-seq samples.

[2020-12-30 02:23] strawberry789 commented on #84
I have re-installed the most updated v1.2.2, but this issue still remains.

[2021-01-03 02:38] crazyhottommy commented on #94
Do you have a gene activity count matrix named 'ACTIVITY' in your scATAC seurat object? if not, you need to create that count matrix following https://github.com/liulab-dfci/MAESTRO/blob/master/example/Gene_activity_modelling/Gene_activity_modelling.md and assign it to the Seurat object.

[2021-01-04 20:22] crazyhottommy commented on #95
Hi, we only support human and mouse for now because Lisa depends on data collected from CistromeDB.

[2021-01-04 20:22] #95 closed

[2021-01-07 11:46] Dazcam opened #98 "Is MAESTRO compatible with 10X data derived from nuclear RNA?"
Hello,

I'm currently installing the MAESTRO prerequisites and, after reading the paper, I'd like to ask if MAESTRO is compatible with 10X data derived from nuclear RNA, particularly if I'm looking to integrate single-modal snRNA- and snATAC-seq data?

And more specifically, could the use of a pre-mRNA reference and GTF files for alignment, as opposed to standard reference/annotation files, impact

[2021-01-10 20:52] mengxiao opened #100 "1.3.1 release not available in conda channel"
Hi there,

I think the 1.3.1 release hasn't been uploaded to the `liulab-dfci` channel yet, so the current installation instructions throw an error.

[2021-01-10 21:07] crazyhottommy commented on #100
Thanks for reporting this. We are aware of that. we used up the Travis build credit and the build is not triggered and that's why it is not uploaded to the conda channel. you should be able to install 1.3.0. We are working on it to fix that.

[2021-01-11 00:06] crazyhottommy commented on #98
Hi,
MAESTRO uses STARsolo for scRNAseq quantification. You can
add --soloFeatures GeneFull for single-nuclei data after you initiate the Snakefile manually at https://github.com/liulab-dfci/MAESTRO/blob/master/MAESTRO/Snakemake/scRNA/Snakefile#L48

In the future, we should expose that as a parameter in the config.yaml file.

Thanks!

[2021-01-11 09:53] Dazcam commented on #98
Many thanks for responding. I will add that command to the Snakefile today and see if it runs to completion. The pipeline hit the skids after the `scrna_rseqc_genecov` rule. Although that rule completed without error the logs reported the following warning:

[code]

This caused the pipeline to choke during the `scrna_rseqc_plot` rule as the `RNAGenebodyCoveragePlot` could not be generated. Likely

[2021-01-11 15:17] mengxiao commented on #100
Ah - ok. I hope they grant you some more credits soon. Thanks!

[2021-01-11 15:40] crazyhottommy commented on #100
you can install v1.3.1 for the moment at https://anaconda.org/baigal628/maestro
we will upload to dfci-liulab after we fix it.

[2021-01-12 02:21] bluesky2003 opened #101 "About "EOF in multi-line statement""
When trying the docker case, after scatac-init,  snakemake  execution gave the following:

SyntaxError in line 1160 of /software/Res/Snakefile:
EOF in multi-line statement (Snakefile, line 1160)

How to address it ?

[2021-01-12 23:01] crazyhottommy commented on #100
This is fixed now. Thanks!

[2021-01-12 23:01] #100 closed

[2021-01-13 08:38] Dazcam commented on #98
**UPDATE: 13th Jan 2021**

When running with the `--soloFeatures GeneFull` parameter the folder names of some of the output files are changed.

Instead of: `Result/STAR/%sSolo.out/Gene/raw/matrix.mtx`

They are stored in `Result/STAR/%sSolo.out/GeneFull/raw/matrix.mtx`

I think this only affects the `scrna-map` and `scrna_qc` rules.

Error message:

[code]

I have modified the Snakefile and runnin

[2021-01-13 14:11] crazyhottommy commented on #98
Thanks for reporting, we will keep this in our mind and make it in our next release!

[2021-01-13 15:05] crazyhottommy commented on #92
we updated it in the tutorial.

[2021-01-13 15:05] #92 closed

[2021-01-13 18:06] hoondy opened #102 "error with ATACCalculateGenescore"
Hi, I am trying to use the RP model to generate the gene activity score to 10x scATAC data. I installed MAESTRO R version as well as python version and setup reticulate. Yet, it is still throwing errors as follows. Do you have a suggestion?

[code]

output
[code]

session info
[code]

[2021-01-13 18:07] hoondy opened #103 "error with ATACCalculateGenescore function"
Hi, I am trying to use the RP model to generate the gene activity score to 10x scATAC data. I installed MAESTRO R version as well as python version and setup reticulate. Yet, it is still throwing errors as follows. Do you have a suggestion?

[code]

output
[code]

session info
[code]

[2021-01-13 18:07] hoondy commented on #103
duplicate of #102

[2021-01-13 18:07] #103 closed

[2021-01-15 18:53] crazyhottommy commented on #101
@baigal628 can we release a new docker version for v1.3.1?

[2021-01-15 18:56] crazyhottommy commented on #102
Have you tried the command-line version?

[code]

[2021-01-19 19:51] crazyhottommy commented on #101
We will release a new bug fix and a new docker image for that. Thanks for your patience.

[2021-01-20 01:40] mengxiao commented on #101
@bluesky2003 I've submitted PR #106 to fix this (hopefully done correctly- the maintainers can verify). Until it's merged, you can manually implement the patch inside your docker image.

[2021-01-20 13:59] #101 closed

[2021-01-20 15:27] crazyhottommy commented on #39
You can try v1.3.1 for multi-sample scATACseq now. It has been a while.

[2021-01-20 15:27] #39 closed

[2021-01-20 15:29] crazyhottommy commented on #94
Please let us know if you still have this problem. If you run through MAESTRO snakemake pipeline you should have `ACTIVITY` in the Seurat object. if you are only using the MAESTRO R package, you may need to create the gene activity score and assign it to `ACTIVITY` in the Seurat slot.

[2021-01-20 15:33] crazyhottommy commented on #84
we fixed this https://github.com/liulab-dfci/MAESTRO/commit/c06778f69cee2d1f4a2fffdd3847f3baba6cb28c
can you try installing it again?

[2021-01-20 21:08] joseverdezoto commented on #84
@crazyhottommy  I just ran the integration step and came across the same issue. I installed the package last week though. Is it fixed now?

[2021-01-21 17:19] mengxiao opened #107 "Does enhanced RP gene score drop peaks in exons/promoter regions of multiple genes?"
Based on the [MAESTRO paper](https://genomebiology.biomedcentral.com/articles/10.1186/s13059-020-02116-x#Sec12), my understanding is that a peak that is in the exons or promoter region of more than one gene is scored as 0 for all genes:

If I've understood correctly, W<sub>_ij_</sub> is calculated by [RP_AddExonRemovePromoter](https://github.com/liulab-dfci/MAESTRO/blob/28e2927b938242960180a82688c

[2021-01-21 19:04] taoliu commented on #107
@mengxiao According to https://github.com/liulab-dfci/MAESTRO/blob/28e2927b938242960180a82688c955bd7c427c22/MAESTRO/scATAC_Genescore.py#L233-L237

All the peaks will be classified as either the peaks in any 'gene-bodies' (=exon+promoter)', or the peaks outside of any 'gene-bodies'. If a peak_i is in the first class, it will be excluded from later calculation (L238 and so one) while applying a deca

[2021-01-21 19:47] mengxiao commented on #107
Ah interesting. May I ask a bit about the rationale behind that approach? Based on the supplement, it sounded like the enhanced model tries to avoid misattributing peaks to unexpressed neighboring genes. If that's the goal, wouldn't it make sense to exclude any peaks in the 'gene bodies' of multiple genes?

The issue of isoforms might be being addressed here https://github.com/liulab-dfci/MAESTRO/

[2021-01-21 21:07] mengxiao commented on #107
I was thinking a bit more about this- is the reason for handling overlaps this way that one doesn't expect many instances of peaks that are in promoter/exons of multiple genes? Dropping the promoter/exon regions is explicitly done for the exponential decay component of the model because that is much more likely to involve overlap between genes?

[2021-01-22 21:00] cadyyuheng opened #108 "pbmc.ATAC.res$peaks"
Hello,

I've been doing scATAC-analysis with Seurat. However, I just discovered MAESTRO recently and want to try to identify driver TFs using MAESTRO. To keep my analysis consistent, I want to use my seurat object from the previous analysis directly, which I believe corresponds with pbmc.ATAC.res$atac in the tutorial. However, I wonder what would be the corresponding file for pbmc.ATAC.res$peaks.

[2021-01-22 22:34] Pikachu233 opened #109 "Error: Failed to install 'MAESTRO' from GitHub"
Hi,

I tried to install maestro in r. However, I received following error:
Error: Failed to install 'MAESTRO' from GitHub:
  (converted from warning) installation of package ‘C:/Users/~1/AppData/Local/Temp/RtmpgpQAJ2/file10b03bde77da/MAESTRO_1.3.1.99999.tar.gz’ had non-zero exit status

- Session info --------------------------------------------------------------
 setting  value
 version  R versio

[2021-01-23 07:12] wxy-omg commented on #93
thanks, but i mean the gene_peak without multiplication by count matrix, the element in this gene_peak matrix represent the peak regulatory the gene potential. Should max(gene_peak) is equal to 1? But i  got some values greater than 1.

[2021-01-26 03:25] crazyhottommy commented on #109
Hi, it seems that you are using windows. We only tested it in Linux machines. Can you install the whole MAESTRO package via conda?

[2021-01-26 04:06] crazyhottommy commented on #109
FYI: I just tried `devtools::install_github("liulab-dfci/MAESTRO")` on my mac, and it worked fine.

[2021-01-26 23:06] Pikachu233 commented on #109
Thanks! I've never used conda before and just install MAESTRO on it. May I ask how am I supposed to interact it in R if I've already processed my data with cellranger. Also, I'm a little confused, how large is the all.giggle file after decompression? -- it seems to be 18.4Gb w/o decompression.

[2021-01-27 03:09] crazyhottommy commented on #108
`pbmc.ATAC.res$peaks` is the differential peaks calculated by [`presto`](https://github.com/immunogenomics/presto)

[2021-01-27 10:03] QiangTU opened #110 "A bug in Snakemake/scRNA/Snakefile"
Hi, I am using v1.3.1, and found a bug in Snakemake/scRNA/Snakefile:

[code]

There should be a `;` at the end of the lisa_path line.

When I manually fixed this problem, the pipeline complained:

[code]

So there might be some more problems with lisa_path.py? It only does `unpack`.

[2021-01-27 12:44] crazyhottommy commented on #110
this is because we had lisa2 updated so it breaks. we will specify the version of lisa2 in the next release to fix this. Thanks for the report.

[2021-01-27 17:47] QiangTU commented on #110
Thanks a lot! I installed v1.3.1 by mama, how can I upgrade it to v1.3.2?

[2021-01-27 18:18] cadyyuheng commented on #101
I just installed MAESTRO on linux and received the same error.

[2021-01-27 18:19] cadyyuheng commented on #108
Thanks @crazyhottommy

[2021-01-27 18:19] #108 closed

[2021-01-27 19:16] crazyhottommy commented on #101
Hi @cadyyuheng, if you manually change the snakefile according to https://github.com/liulab-dfci/MAESTRO/pull/106/files it should work. We will release a new bug fix this week.

[2021-01-27 21:42] crazyhottommy commented on #110
It is better to create a new env for the new version. I will reply here when it is out.
or you can try `mamba update`. I did not test.

[2021-01-29 20:02] cadyyuheng commented on #101
I see. Thanks, @crazyhottommy!

[2021-01-29 23:59] liulab-dfci commented on #101
the new v1.3.2 release fixed this.

[2021-01-30 01:14] crazyhottommy commented on #110
@QiangTU  the new version fixed this. `mamba create -n MAESTRO maestro=1.3.2 -c liulab-dfci`

[2021-01-30 01:14] #110 closed

[2021-02-01 10:53] jphe commented on #109
Hi,

I met the same issue when install MAESTRO R package in the linux system.

![image](https://user-images.githubusercontent.com/34993687/106448779-30c96180-64be-11eb-9d27-7cc32e685ee4.png)

I have tried to install it by source, it reported another error.

![image](https://user-images.githubusercontent.com/34993687/106448957-6c642b80-64be-11eb-9b52-0df371af97a4.png)

While I can not find the 'pre

[2021-02-01 14:40] crazyhottommy commented on #109
Hi Jphe,
Presto is at https://github.com/immunogenomics/presto
which linux system are you using? it is tested on Ubuntu. I can also install it on my mac without a problem.

[2021-02-01 18:14] crazyhottommy commented on #109
if you already have MAESTRO installed by conda, you can
[code]
Then follow https://github.com/liulab-dfci/MAESTRO/blob/master/example/Integration/Integration.md#step-0-read-the-scrna-seq-and-scatac-seq-clustering-object

[code]
 the giggle file is big.

[2021-02-01 21:20] baigal628 commented on #84
Hi,

When running the Incorporate() function, make sure you are using the same resolutions as you used before when running scRNA-seq and scATAC-seq individually. Incorporate use the clustering results from input objects so should keep them consistent.

[2021-02-01 21:23] baigal628 commented on #84
@joseverdezoto

@joseverdezoto Hi, this issue should be fixed now. Could you please try again and let me know if there are still problems?

[2021-02-02 02:21] jphe commented on #109
Thanks,
The linux system I use is Red Hat
![image](https://user-images.githubusercontent.com/34993687/106542485-e1774580-653e-11eb-8fe8-01a86b273bf0.png)

I have installed Presto but another error reported. My Seurat version is Seurat_3.9.9.9008. Does the Seurat problem？
![image](https://user-images.githubusercontent.com/34993687/106542932-b9d4ad00-653f-11eb-8798-5b3414f12728.png)

I have tried to

[2021-02-02 07:32] Jaureguy760 opened #112 "Species Type"
Hi

I'm interested in utilizing this pipeline. Does Maestro support rn6 Rattus norvegicus??

All the best
Sincerely Jeff Jaureguy

[2021-02-02 08:45] jphe opened #113 "picard: command not found"
Hi,

I'm running MAESTRO scATAC-seq with bam file according to the manual, and it reports an error: /bin/bash: picard: command not found.

![image](https://user-images.githubusercontent.com/34993687/106574050-5feeda00-6575-11eb-9cde-d1733afb49a7.png)

Does the picard represents the javar picard (https://gatk.broadinstitute.org/hc/en-us/articles/360037052812-MarkDuplicates-Picard-)? if so, seems it

[2021-02-02 14:21] crazyhottommy commented on #113
Hi,
Did you install MAESTRO by conda? If so, picard should be on your $PATH

[code]

[2021-02-02 14:23] crazyhottommy commented on #112
Hi Jeff,
We only support human and mouse for now.  We are interested to extend it to other species depending on how many users want.

[2021-02-02 18:51] crazyhottommy commented on #109
can you try `devtools::install_github("liulab-dfci/MAESTRO")` again?

[2021-02-02 19:33] Jaureguy760 commented on #112
Hey

Thanks for the response. I really appreciate all your work and the tools you develop!  It would be a great niche to fill since none of the other platforms currently support the rn6 Rattus norvegicus.

All the best

[2021-02-02 19:41] crazyhottommy commented on #112
Hi,
Thanks for the feedback. I think we could add a tutorial on  how to run MAESTRO for other species.

[2021-02-03 13:10] jphe commented on #109
Still the same error:  Error: Failed to install 'MAESTRO' from GitHub: Line starting 'Encoding ...' is malformed!

![image](https://user-images.githubusercontent.com/34993687/106751148-c9e5ad00-6663-11eb-929e-77e0da3be773.png)

I have another question, how dose MAESTRO deal with the multiple mapped reads, dose it only keep the unique mapped reads with high MAPQ? or by any other ways?

Thanks.

[2021-02-05 08:49] jphe commented on #113
Thanks, I have found picard under conda: https://anaconda.org/bioconda/picard

I have tried to install MAESTRO( https://anaconda.org/liulab-dfci/maestro) conda: conda install -c liulab-dfci maestro。 But it reports
![image](https://user-images.githubusercontent.com/34993687/107010899-e6075c80-67d1-11eb-86d5-dd44eef446e8.png)

[2021-02-08 16:59] jeffsun905 commented on #109
Tried to install MAESTRO to R (v4.0.3) and got the exact same error about "CreateGeneActivityMatrixas" as the above. The R is in Ubuntu 20.04. Has anyone solved the issue?
Thanks!

**Error: object ‘CreateGeneActivityMatrix’ is not exported by 'namespace:Seurat'
Execution halted**
ERROR: lazy loading failed for package ‘MAESTRO’
* removing ‘/home/zsun/R/x86_64-pc-linux-gnu-library/4.0/MAESTRO’
Erro

[2021-02-08 18:33] crazyhottommy commented on #109
Hi,
It seems to be related with Seurat.  can you install `Seurat` first and then install `MAESTRO`?

[2021-02-08 19:25] jeffsun905 commented on #109
Thank you for the quick response. Seurat was pre-installed (v3.9.9). I originally thought that could be the reason so I re-installed its latest one (4.0). However, still got the same error.

[2021-02-09 13:40] crazyhottommy commented on #109
@jeffsun905  can you directly call `CreateGeneActivityMatrix` after `library(Seurat)`? or you need to `Seurat:::CreateGeneActivityMatrix` to call it?

[2021-02-09 14:46] jeffsun905 commented on #109
@crazyhottommy Seems like the latest Seurat does not have this function as I can not call that function after loading Seurat using either way.  Maybe there is a compatibility issue between MAESTRO and the newer Seurat? The install error is at very end of testing phase...

[2021-02-09 21:21] crazyhottommy commented on #109
Yes, we figured that new version of `Seurat` moved that function to `signac` https://satijalab.org/signac/reference/geneactivity and changed the name.
We will fix this. Thanks for reporting this.

[2021-02-10 07:20] hoondy commented on #71
I have the same issue. I installed MAESTRO from conda and have Seurat 4.0 installed (it is the current version now). It seems like there is an incompatibility issue with Seurat 4.0

[2021-02-10 07:20] hoondy commented on #71
@crazyhottommy can you help?

[2021-02-10 14:33] crazyhottommy commented on #71
Thanks for reporting it. We are aware that Seurat4.0 changed the function names and moved some functions to `signac`. We will fix this in our next release.

[2021-02-10 14:36] crazyhottommy commented on #113
oh, can you do

[code]

[2021-02-10 14:38] crazyhottommy commented on #109
it is related to https://github.com/liulab-dfci/MAESTRO/issues/63
we will fix this in our next release

[2021-02-10 14:39] crazyhottommy commented on #93
how did you get the gene_peak matrix? you are right,  for every peak, the max weight should be 1.

[2021-02-10 15:48] jeffsun905 commented on #109
Great and thank you for working on the fix. The new version of Seurat has many good features so would like to keep it.

[2021-02-16 15:10] f6v opened #114 "RNAAnnotateTranscriptionFactor: argument "subset" is missing, with no default"
I'm running the analysis in `R` on an RNA counts matrix I have.

Here's the code:
[code]

`RNAAnnotateTranscriptionFactor` fails with the following error:

[code]
I assume the error happens here:
https://github.com/liulab-dfci/MAESTRO/blob/82ceaf976e521c60048b241014d83ec1dd49d1b1/R/RNAAnnotateTranscriptionFactor.R#L265

How do I figure out what's wrong? Any other information that could help? I'm u

[2021-02-16 16:27] f6v opened #115 "Is it possible to specify the output folder for the R results?"
The files generated from `R` analysis are being saved to the working directory. Is it possible to specify a dedicated folder, or that needs to be implemented as a feature?

[2021-02-16 18:54] crazyhottommy commented on #114
can you share your Seurat object so we can take a look?
also, "ERROR: User must provide list of 20 to 20000 unique genes. Provided 0", looks there are no differential genes?
Thanks!

[2021-02-16 20:07] crazyhottommy commented on #115
It is not possible now. why do you want that? now the results are organized in certain folder structures.

[2021-02-17 16:09] f6v commented on #114
@crazyhottommy thanks for the response! I figured it our, and the issue was probably due to a very small cluster that likely had no DE genes, as you mentioned.

[2021-02-17 16:09] #114 closed

[2021-02-17 16:10] f6v commented on #115
When I run just the R code on the counts directly (without running MAESTRO CLI pipeline), the files get dumped into the working directory. The output just gets mixed with other files.

[2021-02-17 16:16] f6v opened #116 "ModuleNotFoundError: No module named 'tables' on 1.3.1"
I'm running `R` code to calculate the gene scores from ATAC data and running into the issue which already has been described: https://github.com/liulab-dfci/MAESTRO/issues/61

Here's my code:
[code]

I get the following error:
[code]

I installed `MAESTRO` through `conda`. `pytables 3.6.1 ` seems to be installed in the environment(if that's the package in question). Am I missing something?

Thanks

[2021-02-17 16:46] baigal628 commented on #116
Hi!

If you run
library(reticulate)
use_python("~/miniconda2/envs/MAESTRO_1.3.2/bin/python3.8",required = TRUE)
and try:
import("tables")

If the module loaded successfully, it should be fixed.

[2021-02-17 17:23] f6v commented on #116
@baigal628 thanks! That works.

[2021-02-17 17:35] #116 closed

[2021-02-17 17:44] crazyhottommy commented on #115
which function are you using? we can add parameters to specify output folder

[2021-02-17 17:46] baigal628 commented on #115
Hi,

If you only used the MAESTRO R package, the output will always be written in your current working directory. Output files will have the same prefix which is based on what you assigned to 'project'.

You can either setwd() to a dir you want or use a specific name for the 'project' so that they won't get mixed.

[2021-02-17 17:47] f6v commented on #115
Yeah, what I end up doing is moving all the generated files to a dedicated directory based on the `project` prefix after the code is done.

[2021-02-17 17:54] f6v commented on #112
@crazyhottommy some how related to this: is it assumed that the data was aligned to hg38? I have count matrices that I want to analyse, but they are hg19.

[2021-02-18 21:50] crazyhottommy commented on #112
yes, MAESTRO supports hg38 and mm10 for the moment.

[2021-02-18 21:51] #115 closed

[2021-02-19 19:25] f6v commented on #113
@jphe Mac OS isn't supported, only Linux.
<img width="214" alt="image" src="https://user-images.githubusercontent.com/13019221/108551628-812f2480-72f0-11eb-8e32-b94ecaaa6451.png">

[2021-02-26 17:24] preetida opened #119 "Installation error with conda"
Hi,
I am following the conda instruction for setting up MAESTRO.
My install failed with below error.

I can think of **conda-build version : not installed** might be issue but not sure?
Whats the alternate ?
`mamba create -n MAESTRO maestro=1.3.2 -c liulab-dfc`
`# >>>>>>>>>>>>>>>>>>>>>> ERROR REPORT <<<<<<<<<<<<<<<<<<<<<<

    Traceback (most recent call last):
      File "/home/pjb40/miniconda3/l

[2021-02-27 00:39] crazyhottommy commented on #119
that's something new to me. I just installed 1.3.2 on two clusters, and they all worked fine.
Are you able to install other tools?

[code]

[2021-03-09 16:23] crazyhottommy commented on #109
We just released MAESTRO 1.4.0 which is SeuratV4 compatible. Can you please try it and let us know? Thanks!

[2021-03-09 16:24] crazyhottommy commented on #71
Hi, we just released a new MAESTRO 1.4.0 which is Seurat V4 compatible. Can you please try it and let us know? Thanks!

[2021-03-09 16:24] #84 closed

[2021-03-09 22:53] jeffsun905 commented on #109
Thank you for the new release Ming! Yes, it has been successfully installed (first try failed but after installing "EnsDb.Mmusculus.v79", it succeeded as it appears it is required by Maestro.

[2021-03-10 14:41] crazyhottommy commented on #109
No problem! closing it now.

[2021-03-10 14:41] #109 closed

[2021-03-11 13:18] jphe opened #121 "Error Calls: ATACRunSeurat ... CreateSeuratObject.default -> CreateSeuratObject -> CreateSeuratObject.Assay"
Hi,

Thanks for update MAESTRO, I have installed the latest MAESTRO but it reports an error:

Seems it is Seurat problem? My Seurat version is 3.99

  method from
  +.gg   ggplot2
Registered S3 methods overwritten by 'SeuratObject':
  method                     from
  $.JackStrawData            Seurat
  $.Seurat                   Seurat
  $.SeuratCommand            Seurat
  $<-.Seurat

[2021-03-11 13:19] jphe commented on #121
Attached is the details for the log file.

[10X_PBMC_10k.txt](https://github.com/liulab-dfci/MAESTRO/files/6123212/10X_PBMC_10k.txt)

[2021-03-11 13:49] crazyhottommy commented on #121
you should install Seurat V4.0

[2021-03-11 22:25] preetida opened #122 "Error with QC report in ATAC"
Hi
I am using fragment file as input in ATACseq pipeline, it ran through minimap rules but broke at QC plot.
Please suggest.

[code]

[2021-03-12 03:37] crazyhottommy commented on #122
Hi, we just had a new release 1.4 which is now Seurat V4 compatible. Seurat team moved the `CreateGeneActivityMatrix` function to `signac`. That's why you got the error.

[2021-03-12 03:40] crazyhottommy commented on #121
if you installed the latest v1.4 MAESTRO, Seurat will be https://github.com/liulab-dfci/MAESTRO/blob/master/conda/MAESTRO/meta.yaml#L42

[2021-03-12 17:43] preetida commented on #122
So updating MEASTRO should fix it?

[2021-03-12 18:09] crazyhottommy commented on #122
yes.

[2021-03-19 19:03] f6v opened #124 "RNAAnnotateTranscriptionFactor - return all tfs?"
`RNAAnnotateTranscriptionFactor` has a `top.tf` argument. However, is there a way to return the whole list?

Thanks!

[2021-03-22 03:58] strawberry789 opened #125 "Error in ATACAnnotateTranscriptionFactor function"
When I run the ATACAnnotateTranscriptionFactor function, I get the following error:

Error in read.table(paste0(outputBed, ".result.xls"), sep = "\t", row.names = NULL, : no lines available in input

I'm using Maestro v. 1.2.2 and have downloaded the giggle.all.tar.gz file

Also, do I not need to specify the giggle file as mouse if I'm analyzing mouse data?  The giggle.all folder includes both mou

[2021-03-27 02:33] taylor-shi opened #126 "error reading bam file"
Hello. I tried running the Maestro pipeline on a scRNA-seq dataset of 3000 PBMC granulocyte sorted cells, obtained from the 10X Genomics website. I was able to successfully run the MAESTRO scrna-init command and performed a dry run with no errors. However, when I try to run the workflow I get the following error:

[W::bam_hdr_read] EOF marker is absent. The input is probably truncated
[E::bgzf_rea

[2021-03-27 04:08] crazyhottommy commented on #126
it seems the bam file you downloaded is not complete. can you re-download it and run it again?

[2021-03-27 04:15] crazyhottommy commented on #125
Hi, it seems you did not get any results for the giggle command and get an empty file, you can specify `organism = "GRCm38` and retry it.

[2021-03-27 04:17] crazyhottommy commented on #124
Hi, can you try a large top.tf number? @baigal628 is it possible to return the whole list?

[2021-03-27 04:18] #121 closed

[2021-03-27 04:18] #94 closed

[2021-03-27 04:19] #113 closed

[2021-03-27 05:26] taylor-shi commented on #126
I thought that the BAM file was created by the MAESTRO pipeline. There are no BAM files used to initialize the scRNA-Seq workflow, correct? Here is a larger section of the error file if that is helpful.

rule scrna_map:
    input: /n/stat115/2021/HW5/references/Refdata_scRNA_MAESTRO_GRCh38_1.2.2/GRCh38_STAR_2.7.6a, /n/stat115/2021/HW5/references/whitelist/rna/737K-arc-v1.txt, /n/stat115/2021/HW5/p

[2021-03-27 16:32] crazyhottommy commented on #126
Hi, so you started with fastq files? if so, can you delete the MAESTRO generated bam file, and re-run it?

[2021-03-27 16:37] taylor-shi commented on #126
Hi, yes, I tried doing this multiple times and still get the same error. I also tried updating samtools to the latest version after activating the maestro environment (following the advice of another forum) but that did not work.

I have scATAQ-seq data as well that I want to run through the ataq-specific maestro pipeline. This workflow also starts with fastq files, and I again ran into the same e

[2021-03-27 18:54] taylor-shi commented on #126
I was able to resolve the issue, my disk was running out of space from unrelated files. Thanks for your responsiveness!

[2021-03-27 18:54] #126 closed

[2021-04-05 23:40] baigal628 commented on #124
Hi,

After running LISA2 with RNAAnnotateTranscriptionFactor(), you will get a list of predicted TFs for each cluster under {project}.lisa/ folder. The file name should be {cluster_id}.txt.lisa.tsv. Or you can also find a file called {project}_lisa.txt in your working directory which summarized all the common predicted TFs for each cluster.

[2021-05-04 18:33] taoliu opened #129 "The 'percent.mito' and 'percent.ercc' are actually ratio not percentage."
Codes are here

https://github.com/liulab-dfci/MAESTRO/blob/2c87d7a624745cc7e4fefc202042b221844e722c/R/RNARunSeurat.R#L69-L70

If we want to call the value 'percent', please multiply the value with 100.

[2021-05-05 17:08] mudappathir opened #130 "Test file for ATAC-seq pipeline missing"
Hi,

I just installed MAESTRO and wanted to run the pipeline using test files provided for scRNA and scATAC seq. But the file location http://cistrome.org/~galib/atac_pbmc_500_v1_fastqs_sampling.tar.gz is missing. Please help.

[2021-05-05 17:11] baigal628 commented on #130
Could you please try again? It should be able to download now.

[2021-05-05 17:13] mudappathir commented on #130
Yes it is working now. Thank you very much for quick response.

[2021-05-06 03:05] mudappathir opened #131 "RNARunSeurat error at RunPCA stage"
Hi,
I am trying to perform analysis on the test scRNA seq data provided.  I could successfully run the snakemake pipeline. In R I get following error for:
pbmc.RNA.res <- RNARunSeurat(inputMat = pbmc.gene,
                               project = "10X_PBMC_1k",
                               orig.ident = NULL,
                               min.c = 10,
                               min.g = 100,

[2021-05-06 15:43] baigal628 commented on #131
Hi,

It seems like there are less than 50 cells in the count matrix. Could you please change the mito.cutoff to 0.2 for the test data? 0.05 could be too strict so the cells are filtered out!

Thanks.

[2021-05-06 15:46] #130 closed

[2021-05-06 15:47] #124 closed

[2021-05-17 23:59] bc2zb opened #132 "Run with predetermined clusters"
Related to #77,

I'm trying to use MAESTRO on clusters of interest that have been determined using other tools. What is the appropriate steps. Essentially, I've tried multiple ways to overwrite the seurat clusters and Idents to use the "monocle_clusters".

`FindAllMarkersMAESTRO()` is fine at noticing the updated clusters when using `Idents() <- ...`. `RNAAnnotateCelltype()` only uses the updated

[2021-05-18 13:27] #132 closed

[2021-05-18 13:28] bc2zb commented on #132
Update, debugging the source code revealed that LISA will run on whatever cluster results already exist. Clearing out the directory or changing the directory solves this issue. May want to add a note to the documentation about this.

[2021-05-21 07:54] mudappathir commented on #131
Yes that works. Thank you.

[2021-05-24 11:14] WWJiaxuan opened #133 "Cannot download giggle.all.tar.gz"
Hi,

Thanks very much for the user-friendly package!

I just encountered a problem that I couldn't download giggle.all.tar.gz. It seems that the link didn't work, and I am not sure where and which one to download from Cistrome (since there're too many options...). Could you please suggest how I can deal with it?

Thanks in advance and looking forward to your reply!

[2021-05-24 13:10] crazyhottommy commented on #133
Hi, it is at http://cistrome.org/~galib/giggle.all.tar.gz. the link is updated at v1.2.0 change log in the README.

Thanks!

[2021-05-24 13:11] #131 closed

[2021-05-24 13:14] crazyhottommy commented on #122
closing it for now. I hope it worked for you with the new version.

[2021-05-24 13:14] #122 closed

[2021-05-24 13:14] #125 closed

[2021-05-24 13:15] #119 closed

[2021-05-24 13:16] WWJiaxuan commented on #133
Hi,

Thanks very much for your prompt reply! Yes, I have clicked the above link and also the link in the README many times, but unfortunately no response. Is there any other way to download it?

[2021-05-24 13:17] crazyhottommy commented on #133
on command line:
[code]

[2021-05-24 13:25] WWJiaxuan commented on #133
It started downloading. Thanks again for your help and the great package!

[2021-05-24 13:27] crazyhottommy commented on #133
do not hesitate to open github issues if you have more questions.

[2021-05-24 13:27] #133 closed

[2021-05-26 08:04] WWJiaxuan opened #134 "error with ATACAnnotateChromatinAccessibility"
Hi,

Thanks for your useful package!

I encountered an error when running `ATACAnnotateChromatinAccessibility` as below:

sort: write failed: standard output: Broken pipe
sort: write error
Not a BGZF file 'ATAC.GIGGLE/0.peaks.bed.gz'
giggle: Error loading query file ATAC.GIGGLE/0.peaks.bed.gz.
Error in read.table(paste0(outputBed, ".result.xls"), sep = "\t", row.names = NULL,  :
  no lines availab

[2021-05-26 08:53] WWJiaxuan commented on #134
Never mind, I guess I figured it out by installing `bgzip`.

[2021-05-26 08:53] #134 closed

[2021-06-01 21:38] mudappathir opened #135 "Input seurat integration object"
Hi,

I am running Seurat pipeline similar to this: https://satijalab.org/seurat/archive/v3.0/immune_alignment.html

Can I input the integrated seurat object as input to MAESTRO RNARunSeurat function?

[2021-06-10 17:09] yuxuth commented on #133
Hi Tommy @crazyhottommy ,

Looks like the giggle.all.tar.gz link is broken (http://cistrome.org/~galib/giggle.all.tar.gz ). Get 404 error.

[code]

Would you please take a look?

Thanks!

[2021-06-10 20:01] yuxuth opened #137 "question about scATAC bulk peak calling step when using the Fragment file as input"
Hi,

Thanks for developing this awesome tool. I have a question about the workflow about scATAC peakcalling step when using fragement file as input.

According the snakemake file, the 10x fragment file is reshaped to long formate using `scATAC_FragmentReshape.py`, to include all duplicate fragements. I understand these duplicate fragments are used to get the QC infor.

Then  [scatac_allpeakcall](h

[2021-06-10 22:08] yuxuth commented on #137
thanks for the clarification!

[2021-06-10 22:08] #137 closed

[2021-06-10 22:12] yuxuth commented on #133
It works now!
Thanks

[2021-06-18 10:06] llk578496 opened #138 "Unable to download the mapindex file for human from http://cistrome.org/~galib/Refdata_scRNA_MAESTRO_GRCh38_1.2.2.tar.gz"
Hi, we would like to download the mapindex file for human, but it returns the following error message:

'''
Not Found
The requested URL /~galib/Refdata_scRNA_MAESTRO_GRCh38_1.2.2.tar.gz was not found on this server.

Apache/2.4.29 (Ubuntu) Server at cistrome.org Port 80
'''
Please kindly advise.
Thank you very much.

Eddie Lee

[2021-06-18 14:07] baigal628 commented on #138
Hi!

I just moved the reference genomes but will update the new link with the next release! Please find out here:

http://cistrome.org/~galib/MAESTRO/references/scRNA/Refdata_scRNA_MAESTRO_GRCh38_1.2.2.tar.gz

Thanks!

[2021-06-18 16:46] llk578496 commented on #138
Thank you very much!

[2021-06-19 04:38] llk578496 opened #139 "Cannot install v1.4.0"
Hi, sorry to bother you again.

We followed the command lines to install the MAESTRO with miniconda:

'''
$ wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh
$ bash Miniconda3-latest-Linux-x86_64.sh

$ conda config --add channels defaults
$ conda config --add channels liulab-dfci
$ conda config --add channels bioconda
$ conda config --add channels conda-forge
$ conda insta

[2021-06-19 05:14] #138 closed

[2021-06-19 05:16] baigal628 commented on #139
Hi Eddie!

Sorry that there was a bug in the version. You should have installed version 1.4.0 although it appeared as v1.3.1. We will fix that following the next release. Thanks!

[2021-06-21 23:05] pengxin2019 opened #140 "supported species"
Hi there,
I noticed you mentioned in one of the previous question that a tutorial for non-human and non-mouse species could be provided. Is that tutorial available now?

Thanks for developing this tool.

Best
Pengxin

[2021-06-22 02:29] pengxin2019 commented on #140
Also, do you think that the inference of transcriptional regulators using LISA(scRNA)  and GIGGLE(scATAC) would work for non-human non-mouse species? I feel like it would probably not since the datasets(CistromeDB and GIGGLE) are the chip-seq profiles of human, right?

Is my understanding correct?

Thanks
Best
Penny

[2021-06-22 19:19] crazyhottommy commented on #140
We have not done anything to support other species. Yes, the LISA will only work for human and mouse data. We will consider supporting other species if there is a strong desire from the community.

[2021-06-23 03:41] #139 closed

[2021-06-28 20:06] baigal628 commented on #140
Hi Penny,

Which specific species do you want MAESTRO to support? I can try to write down a tutorial for species other than human and mouse.

Thanks,
Gali

[2021-06-28 20:38] pengxin2019 commented on #140
Hi Gali,
The species that I am interested in is pig (Sus scrofa). Thanks for
providing the offer to write down the tutorial specially for pigs. It would
be helpful to us.

But like what I mentioned in my last email, I am also worried about
the inference
of transcriptional regulators for pigs using LISA(scRNA) and
GIGGLE(scATAC). Would that work? Datasets(CistromeDB and GIGGLE) are the
chip-seq pro

[2021-06-29 12:53] baigal628 commented on #140
Hi Penny,

Yes. Current LISA and GIGGLE only have data references for human and mouse.

Best,
Gali

[2021-07-08 22:38] LunaP-831 opened #143 "Chromap Error with MAESTRO 1.5.0"
Hello, thank you for developing MAESTRO!

I am someone that is fairly new to ATAC-seq analysis. I am trying to use MAESTRO for 10X scATAC-seq using the latest version and MAESTRO has its own conda environment.

My first problem was building an index for chromap. When I tried to build an index with :
`chromap -i -r genome.fa -o GRCh38_chromap.index`

I get the following:
`Illegal instruction (core

[2021-07-09 17:04] baigal628 commented on #143
Hi!

I suspect this error is caused by the limited cores and memory available on your working node. Did you use nohup to run the snakemake? If that is the case, could you try running the snakemake command by submitting a slurm job and allocate enough cores and memory? I normally use #SBATCH -c 32 and #SBATCH --mem=80G.

[2021-07-09 23:46] LunaP-831 commented on #143
Hello Gali,

Yes, I have used nohup to run the snakemake. On our cluster we don't use slurm but I did try to allocate enough cores and memory. Nothing changed. Best

[2021-07-19 12:47] zuoyi93 opened #144 "Can't install maestro=1.5.0"
Hi,

I experienced an error while installing the MAESTRO version 1.5.0. Specifically, when I ran `mamba create -n MAESTRO maestro=1.5.0 -c liulab-dfci`, it gave me the following error message:

<img width="466" alt="Screen Shot 2021-07-19 at 7 45 43 AM" src="https://user-images.githubusercontent.com/25957920/126161717-1c38ea1e-8f35-452e-b823-748c33c320f2.png">

Any idea what went wrong?

I'm worki

[2021-07-19 13:11] crazyhottommy commented on #144
Hi Yi,
MAESTRO is only available in linux machines, not in mac OS.

[2021-07-19 13:14] crazyhottommy commented on #129
fixed in the MAESTRO 1.5.0

[2021-07-19 13:14] #129 closed

[2021-07-19 13:16] zuoyi93 commented on #144
Thanks for your prompt reply.

[2021-07-19 13:16] #144 closed

[2021-07-19 13:35] pengxin2019 commented on #140
Dear development team of MAESTRO,

Good morning. I hope you are doing well.

Last time you mentioned that a tutorial for pig is not available yet and
you can generate such a tutorial for pig if we are interested in that.
Just want to follow up with the tutorial for pig (Sus scrofa). Have you
started composing this tutorial? If not, I want to confirm my interest in
it. Just in case you need it, rel

[2021-07-26 02:29] crazyhottommy commented on #140
@baigal628 can you please ask @pengxin2019 for a list of genome annotation files so we can expose MAESTRO to accept them? we can then write a tutorial for other species. Thanks!

[2021-07-26 18:48] crazyhottommy commented on #98
Hi, we just made a new release MAESTRO1.5.1 which supports single-nuclei data. Can you please give it a try?
Thanks!

[2021-07-27 14:48] Dazcam commented on #98
Thanks for the update. Unfortunately I had to abandon using Maestro due to the issues I was having around the time I posted. I now have a well developed pipeline of my own for my single-nuclei data but will keep my eye on Maestro's development and may consider using in the future.

[2021-07-27 15:05] crazyhottommy commented on #98
Thanks for the feedback!

[2021-07-27 15:05] #98 closed

[2021-08-14 03:14] Junjie-Hu opened #146 "Please provide tutorials for Smartseq2"
How to run the pipeline with Smartseq2 raw data? The current MAESTRO Website did not provide it.

[2021-08-14 03:22] crazyhottommy commented on #102
can you try the latest version and see if it still errors out?

[2021-08-20 16:26] baigal628 commented on #140
Hi @pengxin2019,

I am going to work on a tutorial for supporting other species in MAESTRO. To do that, I need several genome annotation files from pig for illustration. Could you please help to provide a list of the below files at your convenience? Also, if you have the link for a pig single-cell test data, it would be better for me to test on that.

Thanks!

**scRNA-seq:**
reference.fa (for STAR

[2021-08-24 19:45] crazyhottommy commented on #140
@pengxin2019 we are much interested in supporting other species, if you can provide some example data that would be great. thx.

[2021-08-24 19:47] crazyhottommy commented on #135
@mudappathir the input for this function is a matrix https://github.com/liulab-dfci/MAESTRO/blob/master/R/RNARunSeurat.R#L51
we use Seurat under the hood.

[2021-09-14 20:26] yxian9 opened #147 "conflict between scrna_parser and scrna_validator"
Hi,

I try to use the `MAESTRO scrna-init` on Dropseq platform.

when specify the '--platform dropseq' in the` MAESTRO scrna-init`. I got error message as

`AttributeError: 'Namespace' object has no attribute 'input_path'`

I found The [`scrna_validator`](https://github.com/liulab-dfci/MAESTRO/blob/a0baabec4ffb538013385f8fb214a12b0fcfa50d/MAESTRO/MAESTRO_ParameterValidate.py#L92
)  require 'input_

[2021-09-15 00:58] crazyhottommy commented on #147
Thanks @yuxuth for reporting. The recent multi-sample scRNAseq and scATACseq MAESTRO version does not support DropSeq data I believe since it has one fastq file for one cell.  @baigal628 can you please confirm?

[2021-09-15 13:44] yxian9 commented on #147
I see.  No worry. I'm able to manually modify the snakemake file to move on.
Thanks.

[2021-09-15 13:44] #147 closed, assigned to nobody

[2021-10-27 22:23] mabelwang21 opened #148 "question about Chromium Single Cell Multiome ATAC + Gene Expression"
Hello, I have a general question. Does MAESTRO pipeline work  for 10x Genomic Chromium Single Cell Multiome (snATAC + snRNA) data?

[2021-10-28 03:21] baigal628 commented on #148
Hi, we will release a higher version soon, more likely end of this week, which supports multiome data processing.

Thanks!

[2021-11-01 18:53] mabelwang21 commented on #148
Thank you !!

[2021-11-13 20:29] Yijia-Jiang commented on #116
Hi Gali,

I tried reticulate to install miniconda in R, and run ATACCalculateGenescore function. However, error shows below:

Error in py_module_import(module, convert = convert) :
  ModuleNotFoundError: No module named 'tables'

I tried "import('tables') above, but error persists: ModuleNotFoundError: No module named 'tables'.

[2021-12-14 10:12] JianGuoZhou3 opened #149 "Can not download maestro"
[code]

[2021-12-14 10:13] jianguozhouzunyimedicaluniversity commented on #149
[code]

[2021-12-15 07:24] JianGuoZhou3 commented on #149
Now it's worked.

[code]

[2021-12-15 07:24] #149 closed, assigned to nobody

[2021-12-22 17:17] itsyogeshd opened #150 "Error with snATAC peakcall: ZeroDivisionError"
I am trying to run the pipeline on snRNA and snATAC data generated using the 10x multi-ome kit, the scRNA part completed successfully but the snATAC part exited with the following error.

[code]

[2021-12-28 13:24] Telogen opened #151 "Download of giggle index from Cistrome website: 404 Not Found"
Hi team! I'm following your tutorial and trying to run `ATACAnnotateChromatinAccessibility()`, before that I have to download giggle index from Cistrome website, but the link `http://cistrome.org/~galib/giggle.all.tar.gz` does not exist anymore, could you please offer the new link of giggle index? Many thanks!

[2022-01-08 09:31] genecell opened #152 "Chromap, Less than 5% barcodes can be found or corrected based on the barcode whitelist"
Hi,

I am using the MAESTRO to analyze  a scATAC dataset downloaded form  SRA database (accession number: SRR10399252), but I met this error:
[code]

I have also tried the minimap2 for mapping, but also got error:
[code]

I can successfully run the test data provided by MAESTRO, so I do not know whether it is due to the scATAC-seq data itself.
Thanks in advance!

Best regards,
Min

[2022-02-06 12:44] haowenz commented on #152
Did you used Chromap custom format for barcode? If yes, this just got fixed [here](https://github.com/haowenz/chromap/issues/60#issuecomment-1030674420) and would work in Chromap next release.

[2022-02-08 11:56] kOoLiNuS opened #153 "chromap — Illegal instruction (core dumped)"
Ciao !
On a fresh MAESTRO — release 1.5.1 — installation (Ubuntu 18.04 with Python v3.8.12 installed) I tried to run `chromap`, `chromap --version` or `chromap -h` having immediately `Illegal instruction (core dumped)` as a result.

I did also try to update chromap with `conda install -c bioconda chromap` obtaining chromap-0.1.5-h9a82719_0 with no error during installation but, again the Illegal i

[2022-02-08 15:13] kOoLiNuS commented on #153
update = with the MAESTRO env enabled I do have:

[code]

The first one (installed with bioconda, given the path) works ok.

[2022-02-26 15:57] loraince opened #154 "Error when running 'macs2 callpeak..'"
INFO  @ Sat, 26 Feb 2022 11:52:20: #1 read fragment files...
	INFO  @ Sat, 26 Feb 2022 11:52:20: #1 read treatment fragments...
	Traceback (most recent call last):
	File "/miniconda3/envs/MAESTRO/bin/macs2", line 653, in <module>
		main()
	File "/miniconda3/envs/MAESTRO/bin/macs2", line 51, in main
		run( args )
	File "/miniconda3/envs/MAESTRO/lib/python3.8/site-packages/MACS2/callpeak_cmd.py", li

[2022-07-03 06:21] wxl123wxl opened #155 "therer the no argument for --frag"
unrecognized arguments  --frag
How to fix it?

Thanks

[2022-07-08 08:01] yuxuanChen777 opened #156 "The problem of ATACCalculateGenescore"
![image](https://user-images.githubusercontent.com/86239688/177945607-8a9c83a7-dd10-4b05-a842-2c773e84d876.png)
I want to use this function to calculate the gene activity scores of human_mouse mixed datasets. Could this function do that? And is it recommended to use this tool to calculate gene activity scores if the reference genome used in the preprocessing of my dataset does not match the versio

[2022-08-04 13:34] njohnso6 commented on #153
I also have the same issue, but only one version of chromap when I run whereis chromap. And that version does not work.

[2022-08-04 13:58] njohnso6 commented on #153
When I had this issue, reinstalling the entire MAESTRO environment with conda rather than mamba also solved the issue.

[2022-08-10 21:57] hukai916 commented on #153
Hi developers,

I encountered the same chromap (`Illegal instruction (core dumped)`) issue, something must be wrong with the chromap env. I personally found conda-backed environments harder to replicate than the container based environments, so it would be great if the Docker image can be updated more regularly.

Thanks!

[2022-08-22 01:59] jeremymsimon opened #157 "Use bedtools map instead of intersect in scATAC_10x_PeakCount?"
Thanks for assembling this nice workflow!

I was curious about the step in your scATAC analysis where you take your peaks file, fragments files, and compute a cells x peaks matrix of overlaps. It looks like this primarily happens [here](https://github.com/liulab-dfci/MAESTRO/blob/master/MAESTRO/scATAC_10x_PeakCount.py).

If I understand your code correctly, it looks like you do the following (plea

[2022-08-22 04:14] crazyhottommy commented on #157
I believe the 15 and 3 are the number of fragments with exactly the same location (duplicates).
In single-cell ATACseq, you will have only one copy of the fragment ( we have two copies of DNA, but the fragmentation will unlikely result in the same fragment in two chromosomes).
So we count them as 1.

[2022-08-22 05:23] jeremymsimon commented on #157
Got it, thanks @crazyhottommy!

[2022-08-22 05:23] #157 closed, assigned to nobody

[2022-09-15 16:58] Starlitnightly opened #158 "Make a new reference gene file like GRCh38_refgenes.txt"
Hi

I'm interested in utilizing this pipeline in CHM13 reference. How can I make a new reference gene file from 'gtf' or other file ??

<img width="962" alt="image" src="https://user-images.githubusercontent.com/46667721/190463697-ad35f6cf-49c1-41e5-985b-0203b1ea800d.png">

<img width="1113" alt="image" src="https://user-images.githubusercontent.com/46667721/190463494-04f3d284-a080-46e4-a783-01375

[2022-09-20 15:30] njohnso6 opened #159 "ATACRunSeurat..RunSVD->RunSVD.Assay->RunSVD.default->irlba"
When I run MAESTRO on the ATACseq tutorial (atac_pbmc_500_nextgem), I get the above error. If I probe further, the error is:
Error in irlba(A = t(x = object), nv = n, work = irlba.work) :
  max(nu, nv) must be positive
Is there something wrong with the dataset? Did something else change, recently?
I tested and this does not have to do with #123. The error still occurs after fixing that.

Context:

[2022-10-13 15:25] DongqingSun96 commented on #159
Hi, sorry for the late response! I have test the ATACseq pipeline following the tutorial with the `atac_pbmc_500_nextgem_filtered_peak_bc_matrix.h5` [file](https://cf.10xgenomics.com/samples/cell-atac/2.0.0/atac_pbmc_500_nextgem/atac_pbmc_500_nextgem_filtered_peak_bc_matrix.h5) as input. MAESTRO V1.5.1 seems to work for me. Here I attach the codes for your reference.
[code]

[2022-11-07 14:44] UboCA opened #160 "Error in bmRequest(request = request, verbose = verbose) : Gateway Timeout (HTTP 504)."
Hi,
[code]

While I run the above code on a seurat object, I got error as:

[code]

Could you tell me any possible way to solve it?
Best.

My env info (hope that helps):
[code]

[2022-11-07 14:52] UboCA opened #161 "Docker image latest required"
Hi,

I noticed docker image latest in docker hub is version 1.2.1, not keep up with github released version v1.5.

To use MAESTRO based on Seurat v4, could you kindly release docker image of MAESTRO in latest version?

Thanks for any reply.

Best

[2022-11-08 11:34] UboCA commented on #161
Based on MAESTRO:1.5.0 plus r-maestro, I made a image at [my_docker_hub](https://hub.docker.com/repository/docker/simchaivory/maestro)

Hope that helps for ones with issues during installing.

[2022-11-08 11:34] #161 closed

[2022-11-08 11:42] UboCA commented on #160
I got no issues while running above code in version 1.5.0.

However, to run `RNAAnnotateTranscriptionFactor`, pulling mm10 or hg38 TF data still spend a lot of time (may be due to limited connecting efficiency in China).

If you also have issues on installation, a potential solution is to use [a docker image](https://hub.docker.com/repository/docker/simchaivory/maestro) with required above data.

[2022-11-08 11:43] #160 closed